export ONT_BAM_FILE="/odinn/tmp/svenjam/NA12878/chr1.sorted.bam"
export ONT_BAM_FILE_HEADER="/odinn/tmp/svenjam/NA12878/chr1.sorted.bam.header"
export BAMFILE_ILLUMINA="/nfs/odinn/users/hannese/requests/170505_1000g_trio_single_sample/data/NA12878.bam"
export VCF_FILE="/odinn/tmp/svenjam/NA12878/NA12878.chr1.sniffles.vcf"
export POLISHING_DIR=$(pwd)
export REGION_AROUND_VARIANT=400
