# Polishing Pipeline Config File
# ==============================

# Input parameters for polishing
# -------------------------------
export OUTPUT_DIR="/path/to/directory/toStore/the/output"
export REFERENCE="/path/to/reference/genome/file.fa"
export ONT_BAM_FILE="/path/to/long/reads/that/shall/be/polished/data.bam"
export BAMFILE_ILLUMINA="/path/to/accurate/short/read/to/be/used/for/polishiing/data.bam"
export VCF_FILE="/path/to/variants/or/regions/you/want/to/have/polished/data.vcf"
export REGION_AROUND_VARIANT=400 #default
export LOG=polishing.log #default log file name

# Third party programs
# -------------------------------
# if you want to use another mapper please adjust the mapper call
# WIHOUT changing the variables MAPPER_IN_READS and MAPPER_OUT but
# by placing them and the appropiate places.
export MAPPER_CALL="/odinn/tmp/svenjam/programs/minimap2-2.3_x64-linux/minimap2 -ax map-ont /odinn/tmp/svenjam/hg38.mmi $MAPPER_IN_READS > $MAPPER_OUT"
export PILON_EXECUTABLE="$EXEC_DIR/pilon-1.22.jar"

# DO NOT TOUCH
# -------------------------------
# The following preparations are neccessary once, regardless if executing
# sweep_sample/variant/sequence so the changes are made here for preparation
if [ ! -d "$OUTPUT_DIR" ]
    then
    mkdir $OUTPUT_DIR
fi

export BAMFILE_ILLUMINA_HEADER="$OUTPUT_DIR/BAMFILE_ILLUMINA.header"
samtools view -H "$BAMFILE_ILLUMINA" -o "$BAMFILE_ILLUMINA_HEADER"

export BAMFILE_ONT_HEADER="$OUTPUT_DIR/BAMFILE_ONT.header"
samtools view -H "$ONT_BAM_FILE" -o "$BAMFILE_ONT_HEADER"
